.payment-container {
  display: flex;
  justify-content: center;
  /* padding: 20px; */
}

.payment-card {
  /* max-width: 600px; */
  width: 100%;
}

mat-list-item {
  display: inline-table;
}

mat-list-item button {
  margin-left: auto;
}

mat-icon {
  color: #1976d2;
}
